client
dev tun
proto {{ openvpn_proto }}
remote {{ _snat_ip | default(ansible_default_ipv4.address) }} {{ openvpn_port }}
resolv-retry infinite
nobind
persist-key
persist-tun
remote-cert-tls server
auth {{ openvpn_auth }}
ignore-unknown-option block-outside-dns
verb 3