- name: Ensure /etc/openvpn/server exists
  file:
    path: /etc/openvpn/server
    state: directory
    mode: '0755'

# server.conf 생성 (템플릿)
- name: Render server.conf
  template:
    src: server.conf.j2
    dest: /etc/openvpn/server/server.conf
    mode: '0644'
  notify: Restart OpenVPN

# client-common.txt 생성 (템플릿)
- name: Render client-common.txt
  template:
    src: client-common.txt.j2
    dest: /etc/openvpn/server/client-common.txt
    mode: '0644'

# IPv4/IPv6 포워딩
- name: Enable IPv4/IPv6 forwarding via sysctl.d
  copy:
    dest: /etc/sysctl.d/99-openvpn-forward.conf
    mode: '0644'
    content: |
      net.ipv4.ip_forward=1
      {% if openvpn_enable_ipv6 %}net.ipv6.conf.all.forwarding=1{% endif %}
  notify: Reload sysctl

- name: Apply sysctl now
  command: sysctl --system

# 서비스 활성화
- name: Enable and start openvpn-server@server
  systemd:
    name: openvpn-server@server.service
    enabled: true
    state: started